/*------------ RESET ------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*------------ 
    Variabili 
------------*/

 :root{
    --colore-btn-base: #fff;
    --colore-testo-secondario: #637381;
    --colore-bg-btn-base: #0061ff;
    --colore-bg-section: #b4d0e7;
}

/*------------ 
    COMMON 
------------*/

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

.col-2{
    width: calc(100% / 2 - 40px);
    margin: 0 20px;
}

a:visited{
    color: inherit;
}

img{
    width: 100%;
}


/*--- container ---*/

.container-big{
    margin: auto;
    max-width: 1300px;
}

.container{
    margin: auto;
    max-width: 1080px;
}

/*--- button ---*/

.btn{
    border: none;
    padding: 10px 20px;
    background-color: var(--colore-bg-btn-base);
    color: var(--colore-btn-base);
}

.btn-big{
    padding: 10px 60px;
}

.btn-total{
    width: 100%;
}

.btn-empty{
    color: black;
    border: 1px solid black;
    background-color: #fff;
}

/*------------ 
    TAG SEMANTICI 
------------*/

/*--- HEADER ---*/

header{
    line-height: 60px;
    padding: 10px 15px;
}
.logo img{
    vertical-align: middle;
}


.logo, .nav-main.nav-main-sx{
    float: left;
}

.nav-main.nav-main-dx{
    float: right;
}

.nav-main ul li{
    display: inline-block;
    margin-left: 15px;
}

.nav-main ul li a{
    padding: 15px;
    text-decoration: none;
    color: inherit;
    font-size: small;
}

/*--- HERO ---*/

.hero{
    background-color: var(--colore-bg-section);
    position: relative;
}
.hero .container-big{
    position: relative;
    bottom: -70px;
}

.hero .container-big h1{
    font-size: 60px;
    margin-bottom: 30px;
}

.hero .container-big p{
    margin-bottom: 15px;
}

.hero .container-big i{
    margin-top: 30px;
    font-size: 50px;
}


.col-text{
    width: calc(30% - 10px);
    margin: 0 5px;
}
.col-img{
    width: calc(70% - 10px);
    margin: 0 5px;
}

/*--- BUSINESS ---*/

h2{
    margin: 50px 0;
}

div.box-input{
    margin: 30px 0;
}

.business{
    margin: 150px 0;
}

.col-3{
    width: calc(100% /3 - 20px);
}

.col-3.mid{
    margin: 0 30px;
}

.num-user{
    font-size: 12px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: none;
    padding: 6px 0;
}

.sales-package{
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 25px;
}

.sales-package h3{
    font-size: 20px;
}

.sales-package>* {
    margin-bottom: 30px;
}

.sales-package .price>span, .sales-package .info-package>span{
    display: block;
    margin-bottom: 5px;
}
.sales-package .price .cost{
    font-weight: bold;
}

.sales-package .price .info{
    color: var(--colore-testo-secondario);
}

.sales-package div a{
    text-decoration: none;
    color: var(--colore-bg-btn-base);
}

.sales-package hr{
    width: 30%;
    color: rgba(0, 0, 0, 0.4);
}

.sales-package ul{
    margin-top: -10px;
}

.sales-package ul li{
    list-style:none ;
    margin-bottom: 15px;
    
}
.sales-package ul li i{
    color: var(--colore-bg-btn-base);
}

.col .sales-package{
    height: 750px;
}

.container>.num-user{
    margin-top: 30px;
}

.sales-package.under .clear-fix h3{
    float: left;
}
.sales-package.under .clear-fix button{
    float: right;
}

.sales-package.under strong {
    margin-top: -40;
}


/*--- PARTNER --*/



.partner .container .clear-fix .text>*{
    margin-top: 30px;
}









