/*------------ RESET ------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*------------ 
    Variabili 
------------*/

 :root{
    --colore-testp-bianco:white;
    --colore-btn-base: #fff;
    --colore-testo-secondario: #637381;
    --colore-bg-btn-base: #0061ff;
    --colore-bg-section: #b4d0e7;
    --colore-bg-footer: black;
    --colore-bf-sponsor: #f5f5f5;
    --colore-sponsor-uno: #a2d39b;
    --colore-sponsor-due: #61082b;
    --colore-sponsor-tre: #0093ce ;
    --colore-sponsor-quattro: #ff1c1c ;
    --colore-sponsor-cinque: #d5001f ;
    --colore-sponsor-sei: #b4d0e7 ;
    --colore-sponsor-sette: #0d2481 ;
    --colore-sponsor-otto: #ffd830 ;
}

/*------------ 
    COMMON 
------------*/

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

.col-r{
    float: right;

}

.col-2{
    width: calc(100% / 2 - 40px);
    margin: 0 20px;
}

.col-3{
    width: calc(100% / 3 - 20px);
}

.col-3.mid{
    margin: 0 30px;
}

.col-5{
    width: calc(100% / 5 - 20px);
    margin: 0 10px;
}

a:visited{
    color: inherit;
}

img{
    width: 100%;
}


/*--- container ---*/

.container-big{
    margin: auto;
    max-width: 1300px;
}

.container{
    margin: auto;
    max-width: 1080px;
}

/*--- button ---*/

.btn{
    border: none;
    padding: 10px 20px;
    background-color: var(--colore-bg-btn-base);
    color: var(--colore-btn-base);
}

.btn-big{
    padding: 10px 60px;
}

.btn-total{
    width: 100%;
}

.btn-empty{
    color: black;
    border: 1px solid black;
    background-color: #fff;
}

.btn-white{
    color: black;
    background-color: #fff;
}


/*--- TYPO ---*/
h2{
    font-size: 40px;
}
h3{
    font-size: 20px;
}




/*------------ 
    TAG SEMANTICI 
------------*/

/*--- HEADER ---*/

header{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
    line-height: 60px;
    padding: 10px 15px;
}
.logo img{
    vertical-align: middle;
}


.logo, .nav-main.nav-main-sx{
    float: left;
}

.nav-main.nav-main-dx{
    float: right;
}

.nav-main ul li{
    display: inline-block;
    margin-left: 15px;
}

.nav-main ul li a{
    padding: 15px;
    text-decoration: none;
    color: inherit;
    font-size: small;
}

/*--- HERO ---*/

.hero{
    padding-top: 90px;
    background-color: var(--colore-bg-section);
    position: relative;
}
.hero .container-big{
    position: relative;
    bottom: -70px;
}

.hero .container-big h1{
    font-size: 60px;
    margin-bottom: 30px;
}

.hero .container-big p{
    margin-bottom: 15px;
}

.hero .container-big i{
    margin-top: 30px;
    font-size: 50px;
}


.col-text{
    width: calc(30% - 10px);
    margin: 0 5px;
}
.col-img{
    width: calc(70% - 10px);
    margin: 0 5px;
}

/*--- BUSINESS ---*/

h2{
    margin: 50px 0;
}

div.box-input{
    margin: 30px 0;
}

.business{
    margin: 150px 0;
}



.num-user{
    font-size: 12px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: none;
    padding: 6px 0;
}

.sales-package{
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 25px;
}



.sales-package>* {
    margin-bottom: 30px;
}

.sales-package .price>span, .sales-package .info-package>span{
    display: block;
    margin-bottom: 5px;
}
.sales-package .price .cost{
    font-weight: bold;
}

.sales-package .price .info{
    color: var(--colore-testo-secondario);
}

.sales-package div a{
    text-decoration: none;
    color: var(--colore-bg-btn-base);
}

.sales-package hr{
    width: 30%;
    color: rgba(0, 0, 0, 0.4);
}

.sales-package ul{
    margin-left: 23px;
}

.sales-package ul li{
    list-style:none ;
    margin-bottom: 20px;
    
}
.sales-package ul.blue li i{
    color: var(--colore-bg-btn-base);
}

.col .sales-package{
    height: 800px;
}

.container>.num-user{
    margin-top: 30px;  
}

.num-user i{
    margin-right: 10px;
    font-size: large;
}

.sales-package.under .clear-fix h3{
    float: left;
}
.sales-package.under .clear-fix button{
    float: right;
}

.sales-package.under strong {
    margin-top: -40px;
}


/*--- PARTNER --*/

.partner .container .clear-fix .text>*{
    margin-top: 30px;
}

/*--- OPERATION ---*/

.operation{
    margin: 150px 0 ;
}

.operation .container .row .col h3{
    margin: 20px 0;
}

.operation .container .row .col p{
    font-size: 14px;
}

.operation .container .row{
    margin: 30px 0;
}

/*--- ENDING PAGE ---*/

.ending-main .container a{
    color: var(--colore-bg-btn-base);
}

/*--- ADV ---*/
.adv{
    margin-top: 100px;
}

.square img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: grayscale(1);
}
  

.sponsor{
    background-color: var(--colore-bf-sponsor);
}

.square{
    position: relative;
    height: 12.5vw;
    width: 12.5vw;

}
.square-designit{
    border: 10px solid #d0e9cd;
    background-color: var(--colore-sponsor-uno);
}

.square-asu{
    background-color: var(--colore-sponsor-due);
}

.square-florida{
    background-color: var(--colore-sponsor-tre);
}

.square-topps{
    background-color: var(--colore-sponsor-quattro);
}

.square-wbr{
    background-color: var(--colore-sponsor-cinque);
}

.square-her{
    background-color: var(--colore-sponsor-sei);
}

.square-lp{
    background-color: var(--colore-sponsor-sette);
}

.square-cco{
    background-color: var(--colore-sponsor-otto);
}

div.col-sx,div.col-dx{
    margin: auto;
    height: 25vw;
}

.col-cn{
    width: calc(100% - 50vw);
    height: 25vw;
    padding: 60px;
    overflow-y: auto;
}

.col-cn img{
    width: 35%;
}

.col-cn hr{
    margin: 20px 0;
    width: 60px;
}


.col-sx,.col-cn,.col-dx{
    float:left
}



.sponsor-bot{
    padding: 100px;
    width: 100%;
    background-color: var(--colore-sponsor-sei);
}


.sponsor-bot .container .col h2{
    color: var(--colore-sponsor-due);
    margin: 0;
}
.sponsor-bot .container .col button{
    position: absolute;
    right: 0;
}

.sponsor-bot .container .col{
    position: relative;
}


/*---FAQ---*/

.faq{
    margin: 60px 0;
}

.faq-row{
    position: relative;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.faq-row:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.faq-row i {
    position:absolute;
    right: 30px;
    top:50%;
    transform: translate(0,-50%);
}

/*--- FOOTER ---*/

footer{
    width: 100%;
    background-color: var(--colore-bg-footer);
    color: var(--colore-btn-base);
}
footer .top{
    padding: 80px 0;
}

footer hr{
    width: 100px;
}

footer ul{
    margin-top: 20px;
    list-style: none;
}

footer ul li{
    margin: 10px 0 ;
    font-size: small;
}

footer .bot{
    padding: 40px 0;
    color: lightgray;
}
